.message {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  border-top: 0;

  &-buttons {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: end;

    .button {
      margin-left: 5px;
    }
  }

  &-text {
    width: 90%;
  }

  &-date {
    flex: 1;
  }
}
